/* poppins font family  */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* -----------------------------------------
       common style
--------------------------------------------  */
*,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background-color:#F3F3F3;
}
 .btn:link,
 .btn:visited{
    color:#fff;
    padding:1rem 2.4rem;
    background-color: #E02C6D;
    line-height: 2.4rem;
    font-size: 1.6rem;
    
 }

 .title{
    font-size: 2.8rem;
    font-weight: bold;
    margin:1.6rem 0 1rem;
 }
 .text{
     text-align: justify;
     color: #6C6C6C;
     font-size: 1.6rem;
     line-height: 2.6rem;
     margin-bottom: 1.8rem;
 }
/*--------------------------------------------- 
    header section
    --------------------------------------------  */

.header{
    width: 100%;
    height: 60rem;
    background-color: #2E279A;
    padding:4.2rem 14rem 8.6rem;
}

/* --------------------------------------
nav start  
----------------------------------------*/
.nav{
  display: flex;
  justify-content: space-between;
  color:#fff;
  text-transform:capitalize;
  font-size: 1.6rem;
}
.list{
    width:58.7rem;
    display: flex;
    justify-content:space-between;
}
.item{
   position:relative;
}
.item::before{
    content: '';
    position: absolute;
    top:120%;
    left:0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: right;
    transition:transform .5s linear;
}
.item:hover::before{
    transform: scaleX(1);
    transform-origin: left;
}
.login{
   color:#fff;
   font-weight: 400;
   font-size: 1.6rem;
}
span{
    margin-left: .8rem;
}
/*-----------------------------------------------
       banner start
---------------------------------------------------  */
.banner{
    display: flex;
    margin-top:5rem;
}
.banner-text{
   width: 48.5rem;
   margin-top: 5rem;
}
.banner-head{
   font-size: 6.4rem;
   line-height: 8rem;
   color:#fff;
   margin-bottom: 2.7rem;
}
.banner-image{
  margin-left:auto;
}
.banner-image img{
    width:55.6rem;
    height: 43.8rem;
}
/*-----------------------------------------------
         header end 
------------------------------------------------- */
/*-----------------------------------------------
      main start
---------------------------------------------- */

.players{
    width:105rem;
    margin:7rem auto;
display: grid;
grid-template-columns: repeat(3,1fr);
grid-column-gap:3rem;
grid-row-gap:2.7rem
}
.player{
   background-color: #fff;
   padding:1.5rem
}
.player-image{
    width: 30rem;

}
.player-image img{
     width: 100%;
}
/*--------------------------------------------
 main end 
 -------------------------------------------- */
 /* ----------------------------------------
     footer start
-------------------------------------------  */
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:6rem;
}
.footer__content{
 display: flex;
 flex-direction: column;
 justify-content:center;
 align-items: center;
}
.footer__content img{
    width:48.3rem;
    height: 11rem;
    margin-bottom: 2rem;
}
.icons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon{
    width: 3rem;
    height: 3rem;
    padding:.5rem;
    margin-left: 1.4rem;
    border-radius: 50%;
    background-color: #969BAB;
    display: flex;
    justify-content: center;
    align-items: center;
}
.copyright{
    margin-top: 2rem;
   font-size: 1.8rem;
   line-height: 2.4rem;
}